*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 4rem;
    height: 4rem;
}

.fondo-nav{
    background-color: #273624; 
}

.titulo-nav{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    

}

.boton-nav{
    border: 2px solid #1d271a;
}

.boton-nav:hover{
    box-shadow: 1px 2px 5px black;
}

.fondo{
    height: auto;
    background-color: #273624; 
    padding: 10px;
    
}

.fondo img{
    width: 100%;
    height: auto;

}

.productos {
    background-color: #f7e7cd; 
    padding: 4rem 2rem;
    color: #273624;
    text-align: center;
}

.productos h2{
    font-weight: 600;
    margin-bottom: 2rem;
}

.producto{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #273624;
    border: 1px solid #f7e7cd; 
    border-radius: 10px;
    height: 50vh;
    color: #f7e7cd; 
    font-weight: 600;
}

.producto:hover{
    box-shadow: 2px 2px 5px #273624;
}

.producto img{
    padding: 10px;
    height: 40vh;
    object-fit: cover;
    
}


/* @media(max-width: 600px){
    .fondo{
        height: 20vh;
    }
} */
