*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 4rem;
}

.logo{
    width: 4rem;
    height: 4rem;
}

.fondo-nav{
    background-color: #273624; 
}

.titulo-nav{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    

}

.boton-nav{
    border: 2px solid #1d271a;
}

.boton-nav:hover{
    box-shadow: 1px 2px 5px black;
}

.link-estilo:hover {
    color: #f7e7cd;
}

.carrito-badge {
    font-size: 0.6rem;
    position: relative;
    top: -10px;
    left: -8px;
}

.fondo{
    height: auto;
    background-color: #273624; 
    padding: 10px;
    
}

.fondo img{
    width: 100%;
    height: auto;

}

.productos {
    background-color: #f7e7cd; 
    padding: 4rem 2rem;
    color: #273624;
    text-align: center;
}

.productos h2{
    font-weight: 600;
    margin-bottom: 2rem;
}

.producto{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #273624;
    border: 1px solid #f7e7cd; 
    border-radius: 10px;
    height: auto;
    color: #f7e7cd; 
    font-weight: 600;
}

.producto:hover{
    box-shadow: 2px 2px 5px #273624;
}

.producto img{
    padding: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
    
}



footer {
    background-color: #273624;
    color: #f7e7cd;            
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.footer-brand {
    display: flex;
}

.footer-brand p{
    color: #f7e7cd;
    margin-top: 1rem;
}

.footer-logo {
    width: 3.5rem;  
    height: 3.5rem;
}

.footer-social .social-links a {
    color: #f7e7cd;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.footer-social .social-links a:hover {
    color: #ffffff;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}