@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

body {
  padding-top: 4rem;
  background-color: $secondary-color;
  @include flex-base(column, flex-start, stretch);
  min-height: 100vh;
}